<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SPA Test App</title>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-3.3.1.min.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.min.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../Scripts/theMusic.js"></script>
    <script src="../Scripts/MusicService.js"></script>
    <script src="../Scripts/MusicListController.js"></script>
    <script src="../Scripts/DetailsController.js"></script>
    <script src="../Scripts/EditController.js"></script>

</head>
<body ng-app="theMusic">
    <div class="col-md-12">
        <h2>Music store</h2>
        <div ng-view></div>
    </div>
</body>
</html>
